{% extends "base.html" %}
{% block title %}
Add Task
{% endblock %}

{% block content %}

<div class=".task_header m-5">
<h1> Add Task</h1>
<div class="task_header">
<form action="{% url 'addtask' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">AddTask</button>

<a href="{% url 'home' %}"><!--Back to task--><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-back text-dark" viewBox="0 0 16 16">
    <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
  </svg></a>
</form>
</div>


{% endblock %}

